body {
  color: dodgerblue;
}

.text-left {
  text-align: left;
  padding-left: 20px;
}

.text-right {
  text-align: right;
  padding-right: 20px;
}

.text-center {
  text-align: center;
}

.header {
  font-size: smaller;
  text-transform: uppercase;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.title {
  font-size: xx-large;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.border {
  border-style: solid none;
  border-width: 1px;
  border-color: dodgerblue;
}

.border + .border {
  border-top: none;
}

.link {
  text-align: center;
  text-transform: uppercase;
  padding: 1ex 0;
}

.link a {
  text-decoration: none;
  color: inherit;
}

.answer-buttons {
  display: flex;
  justify-content: space-around;
  padding-top: 2ex;
  padding-bottom: 2ex;
}

.answer-button {
  all: unset;
  text-transform: uppercase;
  cursor: pointer;
}

.result {
  display: flex;
  justify-content: space-between;
  padding-top: 1ex;
  padding-bottom: 1ex;
  text-transform: uppercase;
}

.round-results-header {
  padding-top: 1ex;
  padding-bottom: 1ex;
  text-transform: uppercase;
}